/* =============
    Section 2 
============= */

#section-2{

    aside{
        img{
            width: 100%;
        }
    }

    #section-2-intro{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-2 .";

        #section-2-intro-content{
            grid-area: section-2;


            h3{
                font-weight: 600;
                font-size: rem-calc(35);
            }

            h4{
                font-weight: 400;
            }

            hr{
                height: 3px;
                color: $tan;
                background-color: $tan;
                border: none;
            }

        }
    }

    @include md{
        display: grid;
        grid-template-columns: 38% auto;
        grid-template-areas: "img";
        margin-top: 20px;
        margin-bottom: 50px;

        aside{
            grid-area: img;
        }

        #section-2-intro-content{
            align-self: center;
        }
    }

    @include lg{
        display: grid;
        grid-template-columns: 45% auto;
    }
}