/* =============
    Section 4 
============= */
#section-4{
    display: grid;
    
    img{
        width: 100%;
    }

    ul{
        grid-area: section-4;
        gap:20px;

        @include md{

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

            grid-template-areas: 
            "g1 g1"
            "g1 g1"
            "g2 g3";
        }
        
        #g1{
            @include md{
                grid-area: g1;
            }
            @include lg{
                grid-area: g1;
            }
        }
        #g2{
            @include md{
                grid-area: g2;
            }
            @include lg{
                grid-area: g2;
            }
        }

        #g3{
            @include md{
                grid-area: g3;
            }
            @include lg{
                grid-area: g3;
            }
        }

        @include lg{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            grid-template-areas: 
            "g1 g3"
            "g1 g2";
    }
    }
}