/* =============
    Footer
============= */
#footer{
    display: grid;
    grid-template-columns: 2% auto 5%;
    grid-template-areas: ". footer .";
    text-align: center;

    #footer-content{
        grid-area: footer;
    
    }

    #footer-2020{
        text-align: right;
    
    }
}